* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(37, 27, 55);
    color: rgb(255, 202, 202);
    height: 90vh;
    width: 100%;
    /* border: solid 2px yellow; */

}

.container {

    text-align: center;

    /* border: 2px solid red; */
    position: relative;
    top: 15%;
}

p {
    font-size: 96px;
    background-color: rgb(55, 41, 72);
    width: 50%;
    position: relative;
    left: 25%;

    border-radius: 50px;
    text-align: center;
    margin: 1rem;

    /* opacity: 0.8; */
}

h1 {
    font-family: 'Silkscreen',
        cursive;
    font-size: 108px;
    text-align: center;
    margin-top: 1rem;
    position: relative;
    top: 10%;

}


.btn {
    background-color: rgb(255, 202, 202);
    padding: 1rem;
    margin: 0.3rem;
    border-radius: 10px;
    width: 10%;
    font-size: 24px;
    color: rgb(37, 27, 55);
    font-weight: 600;
}

.btn:active {
    transform: scale(0.98);
}